/* * {
	cursor: url("../import/cursor1_1.png"), default; 
} */




/* ----------------------------- FONTS ----------------------------- */

/* lemonmilk */
@font-face {
	font-family: 'LEMONm';
	src: url('../fonts/LEMONMILK_Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'LEMONr';
	src: url('../fonts/LEMONMILK_Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'LEMONl';
	src: url('../fonts/LEMONMILK_Light.ttf') format('truetype');
}
/* glacial indifference */
@font-face {
	font-family: 'GLACIALb';
	src: url('../fonts/GlacialIndifference_Bold') format('truetype');
}
@font-face {
	font-family: 'GLACIALi';
	src: url('../fonts/GlacialIndifference_Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'GLACIALr';
	src: url('../fonts/GlacialIndifference_Regular.ttf') format('truetype');
}
/* marcellus */
@font-face {
	font-family: 'MARCELLUS';
	src: url('../fonts/Marcellus_Regular.ttf') format('truetype');
}
/* monument extended */
@font-face {
	font-family: 'MONUMENTr';
	src: url('../fonts/MonumentExtended_Regular.otf') format('opentype');
}
/* lora */
@font-face {
	font-family: 'LORAr';
	src: url('../fonts/Lora_Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'LORAi';
	src: url('../fonts/Lora_Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'LORAm';
	src: url('../fonts/Lora_Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'LORAmi';
	src: url('../fonts/Lora_Medium Italic.ttf') format('truetype');
}




/* ---------------------------- BODY ---------------------------- */

body {
	background-color: #fa6b2b;
	/* height : 100vh; */
	width: 100vw;
	max-width: 100%;
	padding-top: 135px;
}

a {
	text-decoration: none;
}

/* .sup {
	font-size: 0.6em;
	position: relative;
	bottom: 0.6em;
} */

/* --------------------------- A PROPOS --------------------------- */

#divapropos {
	display: flex;
	margin: 13vh auto;
	justify-content: center;
	align-items: center;
	margin-bottom: 170px;
	min-height: 49.65vh ;
}

#carteID {
	width: 549px;
	margin-right: 5vh;
}

#bioapropos {
	color: white;
	background-color: black;
	border-radius: 15px;
	padding: 22px;
	font-family: 'MARCELLUS';
	font-size: 1.3em;
	line-height: 1.2em;
	width: 549px;
	margin-left: 5vh;
}

#buttonsapropos {
	margin-left: 5vh;
	margin-top: 20px;
	height: 53px;
}

#buttonmail { 
	height: 53px;
	width: 53px;
	padding-right: 1vh;
}

#buttoncv {
	height: 53px;
	width: 53px;
}

/* ---------------------------- HEADER ---------------------------- */

header {
	background-color: #fdb044;
	width: 100vw;
	height: 92px;
	position: fixed;
	top: 0;
	display: flex;
	z-index: 100;
}

.txtheader {
	font-family: 'LEMONm';
	font-size: 48px;
	-webkit-text-fill-color: white;
	-webkit-text-stroke: 1.8px #fa6b2b;
	margin-top: 21px;
	display: flex;
}

#prenomnom {
	margin-left: 50px;
}

#apropos {
	position: absolute;
	right: 50px;
}

/* ---------------------------- FOOTER ---------------------------- */

footer {
	background-color: black;
	height: 200px;
	border-top: 1.7px solid #ffe37a;
	color: white;
	margin: auto;
	text-align: center;
}

#codepar {
	margin-top: 67px;
	font-family: 'LEMONl';
	color: #ffe37a;
	font-size: 1em;
}

#fontsused {
	font-family: 'LEMONl';
	color: white;
	font-size: 0.8em;
	line-height: normal;
}

/* ----------------------------- 2023 ----------------------------- */

#trait {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	margin-bottom: 18px;
	padding: 0 50px;
}

hr {
	width: 100%;
	border: 1px solid white;
}

#date2023 {
	font-family: 'LORAi';
	font-size: 3.5em;
	color: white;
	padding: 13px;
	background-color: #fa6b2b;
	position: relative;
	margin: auto;
	text-align: center;
	margin-bottom: 4px;
}

/* ---------------------------- GRILLE ---------------------------- */

#contgrille {
	width: 62vw;
	margin: auto;
	margin-bottom: 80px;
}

#grille {
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  	grid-gap: 1.3em;
  	padding : 20px;	
} 

.image {
	height: 220px;
	margin-bottom: 15px;
	border-radius: 5px;
	overflow-y: hidden;

	filter: sepia(1);
	-webkit-filter: sepia(1);
	transition: filter 0.4s ease-in-out;
	}

.image:hover {
	filter: sepia(0);
	-webkit-filter: sepia(0);
	}

.image:active {
	filter: sepia(0);
	-webkit-filter: sepia(0);
	}

img {
	width: 100%;
}

article {
	color: white;
	background-color: black;
	grid-column: span 1;
	border-radius: 15px;
	padding: 20px;
	transition: 0.4s ease all;
}

article h4 {
	font-family: 'LEMONm';
	font-size: 2.2em;	
	margin-bottom: 0.4em;
}

article h5 {
	font-family: 'LEMONl';
	font-size: 1.4em;	
	margin-bottom: 1em;
	color: #ffe37a;
}

article p {
	font-family: 'MARCELLUS';
	font-size: 1.1em;
	line-height: 1.2em;
	padding: 11px;
	border: 1px dashed #ffe37a;
	border-radius: 10px;
}

/* ------------------------ PAGES PROJETS ------------------------ */

#bgprojets {
	margin: 70px auto;
	margin-bottom: 120px;
	color: white;
	background-color: black;
	border-radius: 20px;
	width: 70vw;
	padding: 40px;
}

.txtprojets {
	font-family: 'MARCELLUS';
	font-size: 1.25em;
	line-height: 1.2em;
	padding: 20px;
	width: 800px;
	margin: 40px auto;
}

#photosprojets {
	width: 60vw;
	margin: 45px auto;
	text-align: center
}

#boxjardin {
	width: 700px;
	height: 500px;
	overflow-x: scroll;
	margin: auto;
}

#jardinbottom {
	margin-bottom: 30px;
}

.deuximagesunecolonne{
	display: flex;
	justify-content: center;
}

.deuximagesunecolonne figure, .deuxcolonnes figure{
	position: relative;
	width: 45%;
	/* border: 1px solid red; */
}

.deuximagesunecolonne .imagebas{
	position: absolute;
	bottom: 40px;
	left: 0;
}

.deuxcolonnes{
	display: flex;
	justify-content: center;	
	margin-top:40px ;
}

/* ---------------- titres papier ---------------- */

#nomsprojetsphoobj {
	width: 400px;
	margin: 25px auto;
}

#nomsprojetsphstudio {
	width: 380px;
	margin: 25px auto;
}

#nomsprojetsminisite {
	width: 230px;
	margin: 25px auto;
}

#nomsprojetsforjardin {
	width: 258px;
	margin: 25px auto;
}

#nomsprojetsla7e {
	width: 225px;
	margin: 25px auto;
}