/* * {
	cursor: url("../import/cursor1_1.png"), default; 
} */




/* ----------------------------- FONTS ----------------------------- */

/* lemonmilk */
@font-face {
	font-family: 'LEMONm';
	src: url('../fonts/LEMONMILK_Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'LEMONr';
	src: url('../fonts/LEMONMILK_Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'LEMONl';
	src: url('../fonts/LEMONMILK_Light.ttf') format('truetype');
}
/* marcellus */
@font-face {
	font-family: 'MARCELLUS';
	src: url('../fonts/Marcellus_Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'VOLTAIRE';
	src: url('../fonts/Voltaire_Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'BARLOWr';
	src: url('../fonts/BarlowCondensed-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'SOFIAr';
	src: url('../fonts/SofiaSansCondensed-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'CABINET';
	src: url('../fonts/CabinetGrotesk-Variable.ttf') format('truetype');
}
@font-face {
	font-family: 'GAMBARINO';
	src: url('../fonts/Gambarino-Regular.otf') format('opentype');
}

/* ---------------------------- BODY ---------------------------- */

body {
	background-color: white;
	/* height : 100vh; */
	width: 100vw;
	max-width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a {
	text-decoration: none;
}

/* .sup {
	font-size: 0.6em;
	position: relative;
	bottom: 0.6em;
} */

/* --------------------------- A PROPOS --------------------------- */

#divapropos {
	display: flex;
	margin: 13vh auto;
	justify-content: center;
	align-items: center;
	margin-bottom: 170px;
	min-height: 49vh ;
}

#carteID {
	width: 27vw;
	margin-right: 6vw;
}

#bioapropos {
	font-family: 'CABINET';
	font-size: 1.26em;
	line-height: 1.2em;
	width: 30vw;
	margin-left: 6vw;
}

.mailetcv {
	font-family: 'CABINET';
	line-height: 1.2em;
}

/* ---------------------------- HEADER ---------------------------- */

header {
	/* background-color: white; */
	width: 100vw;
	height: 60px;
	position: fixed;
	top: 0;
	display: flex;
	z-index: 100;
	border-bottom: 1px solid black;

	-webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.05);
}

.txtheader {
	font-family: 'GAMBARINO', sans-serif;
	font-size: 1.5em;
	color: black;
	margin-top: 18px;
	display: flex;
	/* text-transform: uppercase; */
	transition: color 0.3s;
}

.txtheader:hover {
	color: #FF631F;
	/* faut que le ease out se fasse */
}

#bgheader {
	width: 100%;
	overflow-y: hidden;
}

#prenomnom {
	margin-left: 50px;
	position: absolute;
}

#apropos {
	position: absolute;
	right: 50px;
}


/* ----------------------------- FILTRES ----------------------------- */

#headBtnsDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 115px;
}

#headBtnsDiv .headBtn {
	font-family: 'CABINET', sans-serif;
	font-size: 1.2em;
	color: #8f8f8f;
	background: transparent;
	border: none;
	padding: 0 11px;
	
	transition: all 0.3s ease-in-out;
}

#headBtnsDiv .headBtn:hover {
	color: black;
	transition: color 0.3s;
	cursor: pointer;
}

#headBtnsDiv .headBtn.catSelected {
	color: #FF631F;
}

.hiddenPrev {
	display: none;
}

/* ---------------------------- FOOTER ---------------------------- */

footer {
	height: 15vh;
	width: 100%;
	border-top: 1px solid black;
	color: white;
	margin: 0;
	text-align: center;
}

#codepar {
	margin-top: 5vh;
	font-family: 'CABINET';
	color: #FF631F;
	font-size: 1em;
}

#fontsused {
	font-family: 'CABINET';
	color: #8f8f8f;
	font-size: 1em;
	line-height: 1.1em;
}


/* ---------------------------- GRILLE ---------------------------- */

#contgrille {
	width: 80vw;
	margin: auto;
	margin-bottom: 6%;
	padding-top: 55px;
}

#grille {
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  	grid-gap: 2em;
  	/* padding : 2%; */
} 

.image {
	height: 220px;
	margin-bottom: 15px;
	border-radius: 7px;
	overflow-y: hidden;
	
	filter: sepia(1);
	-webkit-filter: sepia(1);
	transition: filter 0.3s ease-in-out;
	}

.image:hover {
	filter: sepia(0);
	-webkit-filter: sepia(0);
	}

.image:active {
	filter: sepia(0);
	-webkit-filter: sepia(0);
	}

img {
	width: 100%;
}

article {
	color: black;
	background-color: white;
	grid-column: span 1;
	border-radius: 12px;
	padding: 5px;
	transition: 0.4s ease all;
	border: 1px solid black;
}

article:hover {
	background-color: #FF631F;
}

article h4 {
	font-family: 'GAMBARINO';
	/* text-transform: uppercase; */
	font-size: 2em;	
	margin-bottom: 0.14em;
	line-height: 1.2em;
	padding: 0px 11px 0px 11px;
}

/* article h5 {
	font-family: 'LEMONl';
	font-size: 1em;	
	margin-bottom: 0.8em;
	color: #FF631F;
} */

article p {
	font-family: 'CABINET';
	font-size: 1.1em;
	line-height: 1.2em;
	padding: 11px;
	/* border: 1px dashed #FF631F; */
	border-radius: 10px;
}

/* ------------------------ PAGES PROJETS ------------------------ */



#main {
	display: flex;
	flex-direction: row;
	width: 100vw;
	max-width: 100%;
}

h6 {
	line-height: 1.2em;
}

.partexplications {  /* GAUCHE */
	height: 100vh;
	background-color: white;
	margin: 0;
	width: 33%;
	overflow: auto;
	border-right: 2px solid white;
}

.titresdeprojets {
	font-family: 'GAMBARINO';
	/* text-transform: uppercase; */
	color: black;
	margin: auto;
	text-align: center;
	font-size: 2em;	
	padding-top: 200px;
	width: 400px;
}

.txtprojets {
	font-family: 'CABINET';
	color: black;
	font-size: 1.26em;
	line-height: 1.2em;
	padding: 20px;
	width: 25vw;
	margin: 40px auto;
}

.partshowimages {  /* DROITE */
	height: 100vh;
	width: 67%;
	display: flex;
	/* border: 2px solid rgb(213, 130, 238); */
	float: right;
	margin: 0;
	overflow: auto;
}

#photosprojets {
	margin-top: 10%;
	display: flex;
}

#photosprojetsbis {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
}


.colonneportrait {
	padding-left: 3%;
	padding-right: 0.5%;
	width: 39%;
	/* border: 2px solid rgb(238, 255, 83); */
}

.colonnepaysage {
	padding-right: 3%;
	padding-left: 0.5%;
	width: 61%;
	/* border: 2px solid rgb(95, 233, 243); */
}

.colonnesimple {
	padding-right: 3%;
	padding-left: 3%;
	width: 100%;
}

.colonnestriples {
	display: flex;
	width: 100%;
}

.colonnetriple1, .colonnetriple2, .colonnetriple3 {
	padding-right: 25px;
	padding-left: 25px;
	width: 33%;
}


.bandenoire {
	padding: 4%;
}

.bandenoirefine {
	padding: 1%;
}



#boxjardin {
	width: 700px;
	height: 500px;
	overflow-x: scroll;
	margin: auto;
}

#jardinbottom {
	margin-bottom: 3%;
}



/* .deuximagesunecolonne{
	display: flex;
	justify-content: center;
}

.deuximagesunecolonne figure, .deuxcolonnes figure{
	position: relative;
	width: 45%;
	border: 1px solid red;
}

.deuximagesunecolonne .imagebas{
	position: absolute;
	bottom: 40px;
	left: 0;
}

.deuxcolonnes{
	display: flex;
	justify-content: center;	
	margin-top:40px ;
} */

